.post-content {
    font-family: $post-font-family;
    font-size: $post-font-size;
    line-height: 1.75em;
}

.post-list p  {
    font-family: $post-font-family;
    font-size: $post-list-font-size;
}

.post-title {
    font-family: $post-title-font-family;
    font-weight: $post-title-font-weight;
}