$post-font-family:          "Noto Serif", "Droid Serif", serif !default;
$post-font-size:            20px !default;
$post-list-font-size:       18px !default;
$post-title-font-family:    "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
$post-title-font-weight:    700;