{% extends "base.html" %}

{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% set current = "archive" %}

{% block content %}

<div class="md:mt-14 text-zinc-800 dark:text-zinc-300 pb-6">
    <h2 class="font-bold text-4xl my-10">Archive</h2>
    <ul class="flex-col">
        {% for year, year_group in dates|groupby('date.year')|reverse %}
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
        {% for article in month_group %}
        {% if article == month_group[0] and article == year_group[0] %}
        <li class="flex-1 my-4">
            <h3 class="text-2xl font-semibold my-8">{{(month_group|first).date|strftime('%Y')}}</h3>
            <div class="md:flex flex flex-row my-1">
                <div class="text-xl font-semibold w-3/12">{{ (month_group|first).date|strftime('%B') }}</div>
                <div class="w-9/12">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                    <span class="text-lg">{{ article.title}}</span><br>
                        <div class="flex text-xs text-zinc-800 dark:text-zinc-400">
                            <div>{{ article.date|strftime('%B %d, %Y') }}</div>
                            <div>
                                {% if article.readtime %}
                                <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if article.author != '' %}
                                <span>&nbsp;·&nbsp;{{ article.author }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% elif article == month_group[0] %}
        <li class="flex-1 my-4">
            <div class="md:flex flex flex-row mt-3">
                <div class="text-xl font-semibold w-3/12">{{ (month_group|first).date|strftime('%B') }}</div>
                <div class="w-9/12">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <span class="text-lg">{{ article.title}}</span><br>
                        <div class="flex text-xs text-zinc-800 dark:text-zinc-400">
                            <div>{{ article.date|strftime('%B %d, %Y') }}</div>
                            <div>
                                {% if article.readtime %}
                                <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if article.author != '' %}
                                <span>&nbsp;·&nbsp;{{ article.author }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% else %}
        <li class="flex-1 my-4">
            <div class="md:flex flex flex-row ">
                <div class="w-3/12"></div>
                <div class="w-9/12">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <span class="text-lg">{{ article.title}}</span><br>
                        <div class="flex text-xs text-zinc-800 dark:text-zinc-400">
                            <div>{{ article.date|strftime('%B %d, %Y') }}</div>
                            <div>
                                {% if article.readtime %}
                                <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if article.author != '' %}
                                <span>&nbsp;·&nbsp;{{ article.author }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>

{% endblock %}