{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<div class="relative h-12 mt-3">
    {% if articles_page.has_previous() %}
    <a class="bg-zinc-800 dark:bg-zinc-300 rounded-full py-2.5 px-4 text-zinc-100 dark:text-zinc-800 font-medium text-xs absolute left-0"
        href="{{ SITEURL }}/{{ articles_previous_page.url }}">
        &laquo; Prev Page
    </a>
    {% endif %}
    {% if articles_page.has_next() %}
    <a class="bg-zinc-800 dark:bg-zinc-300 rounded-full py-2.5 px-4 text-zinc-100 dark:text-zinc-800 font-medium text-xs absolute right-0"
        href="{{ SITEURL }}/{{ articles_next_page.url }}">
        Next Page &raquo;
    </a>
    {% endif %}
</div>
{% endif %}
